@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 46px;
    background: #1c1c1c;
}
.header .left{
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.header .left a{
    text-decoration: none;
}
.header .left a i{
    font-size: 16px;
    color: #3fd0d4;
}
.header .left a span{
    color: #fff;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 5px;
}
.header .left a:hover span{
    color: #3fd0d4;
}
.header .right {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.header .right .icon{
    width: 40%;
    margin-right: 10px;
}
.header .right .icon a{
    text-decoration: none;
    color: #fff;
    padding: 0 5px;
}
.header .right .icon i {
    font-size: 16px;
}
.header .right .list{
    width: 60%;
    display: flex;
    height: 100%;
    position: relative;

}
.header .right .list div {
    position: relative;
    height: inherit;
    width: 80%;
}
.header .right .list span{
    color: #fff;
    background: #3abdc1;
    height: inherit;
    display: inline-block;
    text-align: center;
    line-height: 46px;
    width: 100%;
    cursor: pointer;
}

.header .right .list div i{
    position: absolute;
    right: 16px;
    top: 14px;
    font-size: 16px;
    color: #fff;
}
.header .right .list ul{
    position: absolute;
    width: 100%;
    top: 46px;
    left: 0;
    right: 0;
    visibility: hidden;
    background: #3abdc1 ;
}
.header .right .list li{
    height: 46px;
    line-height: 46px;
    list-style: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.header .right .list div:hover ul{
    animation: slide .5s linear;
    visibility: inherit;
}
@keyframes slide {
    from {
        opacity: 0;
        height: 0;
    }
    to {
        height: 100px;
        opacity: 1;
    }
}
.list .account{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    text-align: center;
    line-height: 46px;
    background: #3fd0d4;
}
.list .account i {
    font-size: 25px;
    color: #fff;
}
.nav{
}
.nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 20px;
}
.nav a img {
    width: 270px;
    height: 90px;
}
.nav2 div {
    margin-left: 140px ;
    margin-right: 140px ;
}
.nav2 .list {
    display: block;
    width: 100%;
    justify-content: space-around;
    display: flex;
}
.nav2 .list li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    position: relative;

}
.nav2 div a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 700;
}
.nav2 div .list li:nth-child(1) a{
    color: #3fd0d4;
}
.nav2 div a:hover{
    color: #3fd0d4;
}
.nav2 a span{
    position: absolute;
    display: block;
    background: #3fd0d4;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: 2px;
    transform: scaleX(100%);
    transform-origin: right;
    transition: transform .5s;
    visibility: hidden;
}
.nav2 a:hover span{
    animation: slides .5s linear;
    visibility: inherit;
}
@keyframes slides {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

